* {
  margin: 0;
  padding: 0;
}

body{
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  background-color: rgba(175, 175, 175, 0.801);
}

.title{
  text-align: center;
  font-size: 7vh;
}

.best {
  font-size: 5vh;
  margin-top: 3vh;
  text-align: center;
}

/* .button{
  margin-top: 10vh;
  text-align: center;
  margin-left: 2vw;
  width: 4vw;
  height: 4vh;
  border-radius: 5px;
  cursor: pointer;
} */

.buttons{
  text-align: center;
}





